* { margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 text-decoration: none;
 color: rgb(238, 238, 238);
 }

body { font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 background-color: rgb(51, 51, 51);
 }


.navbar { display: flex;
 align-items: center;
 width: 100%;
 justify-content: center;
 background-color: transparent;
 color: rgb(238, 238, 238);
 position: fixed;
 z-index: 1;
 
 
 }

.navbar.scrolled { background-color: rgba(22, 22, 22, 0.8);
 backdrop-filter: blur(5px);
 }

.logo { 
  width: 25px;
  height: 25px;
  margin: 0px 30px;
  filter: invert(100%);
  object-fit: cover;
 }

.menu { display: flex;
 gap: 20px;
 list-style: none;
 }

 .item {
  cursor: pointer;
  transition: color 0.3s;
  margin: 15px;
  font-size: 12px;
  font-weight: 500;
  position: relative; /* Necesario para que el ::after se posicione relativo al .item */
}

.item a {
  text-decoration: none;
  color: inherit; /* El texto hereda el color del elemento .item */
  display: inline-block; /* Esto ayuda a centrar correctamente el pseudo-elemento */
}

/* Efecto en hover */
.item:hover {
  color: rgb(255, 255, 255);
}

/* Barra debajo con ::after */
.item a::after {
  content: ""; /* Es necesario para generar el pseudo-elemento */
  position: absolute;
  bottom: 0; /* Coloca la barra en la parte inferior del enlace */
  left: 50%; /* Inicia desde el centro */
  transform: translateX(-50%) scaleX(0); /* Oculto por defecto */
  transform-origin: center; /* Centro como punto de origen */
  width: 100%; /* Ancho de la barra */
  height: 2px; /* Grosor de la barra */
  background-color: rgb(255, 255, 255); /* Color de la barra */
  transition: transform 0.2s ease; /* Animación suave */
  margin-bottom: -2px; 
}

.item a:hover::after {
  transform: translateX(-50%) scaleX(1); /* Barra visible y expandida */
}


.hamburger { display: none;
 flex-direction: column;
 cursor: pointer;
 gap: 5px;
 margin: 9px 0px;
 }

.hamburger div { width: 17px;
 height: 2px;
 border-radius: 1px;
 background: rgb(238, 238, 238);
 }

@media (max-width: 833px) {
  .navbar { justify-content: space-between;
    background-color: transparent;
 }

  .item { display: none;
 transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
 }

  .navbar img { 
    margin: 12px;
 }

  .hamburger { display: flex;
 justify-content: right;
 margin: 0px 17px;
 position: fixed;
 right: 0px;
 }

  .item-show { display: block;
 margin: 0px 20px;
 font-size: 25px;
 font-weight: 700;
 padding: 3px 28px 4px;
 transition: 0.5s;
 color: rgb(232, 232, 237);
 position: relative;
 }

  .menu-show { display: flex;
 flex-direction: column;
 gap: 10px;
 top: 49px;
 width: 100%;
 height: 2000px;
 background-color: rgb(22, 22, 22);
 transition: 0.7s;
 position: fixed;
 z-index: 1;
 }

  .logo-show { display: none;
 height: 25px;
 margin: 12px;
 background-color: rgba(255, 255, 255, 0.5);
 }

  .navbar-show { display: flex;
 align-items: center;
 justify-content: end;
 background-color: rgb(22, 22, 22);
 color: rgb(232, 232, 237);
 height: 50px;
 position: fixed;
 width: 100%;
 z-index: 1;
 }

  .line { transition: 0.3s;
 }

  .hamburger.active .line:nth-child(1) { transform: rotate(45deg) translate(5px);
 }

  .hamburger.active .line:nth-child(2) { transform: rotate(-45deg) translate(5px);
 }

  .item, .item-show, .menu, .menu-show, .logo, .logo-show, .navbar, .navbar-show { transition: 0.5s;
 }

  .internal_link { padding: 20px;
 }

}

#Home { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: linear-gradient(180deg, #161616, #2D1E2C, #2D1E2C);
 animation: gradientAnimation 10s ease infinite;
 }


.background_title{
  font-size: 300px;
  position: absolute;
  top: 90px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-shadow: 12px 12px 24px #242121, -12px -12px 24px #313030;
  color: #111;
}







 .name {
  background: linear-gradient(90deg, #d613e7, #8b51f5); /* Gradiente */
  -webkit-background-clip: text; /* Clip para fondo del texto */
  -webkit-text-fill-color: transparent; /* Fondo del texto transparente */
  text-align: center; /* Alineación opcional */
  font-size: 70px;
  text-shadow:  0px 0px 10px #faf2f2;
 }



.img { 
  margin: 0px 60px;
  height: 400px;
 width: 400px;
 z-index: 1;
 }



.icon{
  width: 35px;
  height: 35px;
  margin: 5px;
  transition: 0.3s;
  filter: invert(1);

}

.icon:hover{
  transform: scale(1.2);
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px #43ec00;
}




.container_text{  
margin: 70px;
text-align: center;
 }

.info{
  font-size: 30px;
  max-width: 800px;
  font-weight: 700;
  text-shadow:  0px 0px 10px #faf2f2;
}

.descarga_cv{
  background-color : #000;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: inherit;
  padding: 15px 20px;
  border: none;
  margin: 0px 20px;
  transition: 0.5s;
}

.descarga_cv:hover{
  transition: 0.3s;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 10px 0px #dd00fa;
}






.navegacion{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;

}

.informacion{ 
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}




.container_main{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 30px;
}












@media (max-width: 1000px) {


.info_container{
  display: flex;
  flex-direction: column;
  margin: 20px;
}



  .info{
    font-size: 30px;
    max-width: 300px;
  }


.name{
  font-size: 50px;}

.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
 
}

.descarga_cv{
  margin: 30px 0px;
}

.container_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  flex-direction: column-reverse;
  }

.img{
  width: 200px;
  height: 200px;
  z-index: -1;
  
}

.background_title{
  font-size: 100px;
}



}


















#About { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(68, 68, 68);
 }


#Skills { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(85, 85, 85);
 }

#Proyects { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(102, 102, 102);
 }

#Contact { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(119, 119, 119);
 }


