* { margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 text-decoration: none;
 color: rgb(238, 238, 238);
 
 }

body { font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 background-color: rgb(51, 51, 51);
 }

 html {
  scroll-behavior: smooth;
}


a{
  display: inline-block; 
  margin: 0;            
  padding: 0;           
  line-height: 0;     
}
 .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1); /* Fondo semi-transparente */
  backdrop-filter: blur(10px); /* Efecto de cristal */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores antiguos */
  color: rgb(238, 238, 238); /* Texto en color claro */
  position: fixed;
  top: 0;
  z-index: 1; /* Asegura que la navbar esté por encima del contenido */
  opacity: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para mejor separación */
}


.navbar.scrolled { background-color: rgba(22, 22, 22, 0.8);
 backdrop-filter: blur(5px);
 }

.logo { 
  width: 25px;
  height: 25px;
  margin: 0px 30px;
  filter: invert(100%);
  object-fit: cover;
 }

.menu { display: flex;
 gap: 20px;
 list-style: none;
 }

 .item {
  cursor: pointer;
  transition: color 0.3s;
  margin: 15px;
  font-size: 12px;
  font-weight: 500;
  position: relative; /* Necesario para que el ::after se posicione relativo al .item */
}

.item a {
  text-decoration: none;
  color: inherit; /* El texto hereda el color del elemento .item */
  display: inline-block; /* Esto ayuda a centrar correctamente el pseudo-elemento */
}



/* Barra debajo con ::after */
.item a::after {
  content: ""; /* Es necesario para generar el pseudo-elemento */
  position: absolute;
  bottom: 0; /* Coloca la barra en la parte inferior del enlace */
  left: 50%; /* Inicia desde el centro */
  transform: translateX(-50%) scaleX(0); /* Oculto por defecto */
  transform-origin: center; /* Centro como punto de origen */
  width: 100%; /* Ancho de la barra */
  height: 2px; /* Grosor de la barra */
  background-color: rgb(255, 255, 255); /* Color de la barra */
  transition: transform 0.2s ease; /* Animación suave */
  margin-bottom: -2px; 
  
}

.item a:hover::after {
  transform: translateX(-50%) scaleX(1); /* Barra visible y expandida */

}


.hamburger { display: none;
 flex-direction: column;
 cursor: pointer;
 gap: 5px;
 margin: 9px 0px;
 }

.hamburger div { width: 17px;
 height: 2px;
 border-radius: 1px;
 background: rgb(238, 238, 238);
 }

@media (max-width: 833px) {
  .navbar { justify-content: space-between;
    background-color: transparent;
 }

  .item { display: none;
 transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
 }

  .navbar img { 
    margin: 12px;
 }

  .hamburger { display: flex;
 justify-content: right;
 margin: 0px 17px;
 position: fixed;
 right: 0px;
 }

  .item-show { display: block;
 margin: 0px 20px;
 font-size: 25px;
 font-weight: 700;
 padding: 3px 28px 4px;
 transition: 0.5s;
 color: rgb(232, 232, 237);
 position: relative;
 
 }

  .menu-show { display: flex;
 flex-direction: column;
 gap: 10px;
 top: 49px;
 width: 100%;
 height: 2000px;
 background-color: rgb(22, 22, 22);
 transition: 0.7s;
 position: fixed;
 z-index: 1;
 }

  .logo-show { display: none;
 height: 25px;
 margin: 12px;
 background-color: rgba(255, 255, 255, 0.5);
 }

  .navbar-show { display: flex;
 align-items: center;
 justify-content: end;
 background-color: rgb(22, 22, 22);
 color: rgb(232, 232, 237);
 height: 50px;
 position: fixed;
 width: 100%;
 z-index: 1;
 }

  .line { transition: 0.3s;
 }

  .hamburger.active .line:nth-child(1) { transform: rotate(45deg) translate(5px);
 }

  .hamburger.active .line:nth-child(2) { transform: rotate(-45deg) translate(5px);
 }

  .item, .item-show, .menu, .menu-show, .logo, .logo-show, .navbar, .navbar-show { transition: 0.5s;
 }

  .internal_link { padding: 20px;
 }


.about_text{
  max-width: 300px;
  display: inline;
}
}

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #000428, #00172b); /* Fondo con gradiente */
  position: relative;
  overflow: hidden;
  z-index: 0; /* Asegura que el contenido está por encima del pseudo-elemento */
}

#Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(2px at 20% 30%, white, transparent) 0 0,
    radial-gradient(2px at 40% 70%, white, transparent) 0 0,
    radial-gradient(2px at 60% 10%, white, transparent) 0 0,
    radial-gradient(2px at 80% 80%, white, transparent) 0 0,
    radial-gradient(1px at 25% 25%, white, transparent) 0 0;
  background-size: 50% 50%;
  opacity: 0.7;
  animation: moveStars 30s linear infinite;
  z-index: -1; /* Coloca el pseudo-elemento debajo del contenido */
}

@keyframes moveStars {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%); /* Movimiento continuo y sin corte */
  }
}



.background_title{
  font-size: 300px;
  position: absolute;
  top: 90px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-shadow: 12px 12px 24px #242121, -12px -12px 24px #313030;
  color: #111;
}


 .name {
  background: linear-gradient(90deg, #d613e7, #8b51f5); /* Gradiente */
  -webkit-background-clip: text; /* Clip para fondo del texto */
  -webkit-text-fill-color: transparent; /* Fondo del texto transparente */

  font-size: 70px;

 }



.img { 
  margin: 0px 10px 0px 50px;
  height: 300px;
  width: 300px;
  display: inline-block; /* Opcional, para ajustar el tamaño al contenido */
  animation: breathe 2s ease-in-out infinite;
border-radius: 50%;

padding: 10px;
  border: 5px solid #fff;
 }


 @keyframes breathe {
  0%, 100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-20px); /* Mueve hacia arriba */
  }
}






.redes {
  display: flex; /* Alinea los íconos en una fila */
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan en varias filas */
  justify-content: center; /* Centra los íconos horizontalmente */
  gap: 10px; /* Espaciado entre los íconos */
 margin: 0px 40px;
}

.icon {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;

  object-fit: cover;
}

.icon:hover {
  transition: 0.3s;
  
  box-shadow: 
  inset 0 0px 10px  #22FF05 , 
  0 0px 10px  #22FF05 ; 
  filter: invert(1);
} 



.container_text{  
margin: 70px;
text-align: center;
 }


 .info {
  font-size: 30px;
  max-width: 500px;
  font-weight: 700;
  text-shadow: 0px 0px 10px #faf2f2;

}

.info_container{
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-direction: column;
  max-width: 640px;
}

.icon_cv {
  width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 30px;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.descarga_cv {
  display: flex; /* Coloca los elementos en línea */
  align-items: center; /* Centra verticalmente la imagen y el texto */
  justify-content: center; /* Centra horizontalmente el contenido (opcional) */
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: inherit;
  padding: 15px 20px;
  border: none;
  transition: 0.5s;
  margin: 0px 40px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}





.descarga_cv:hover{
  transition: 0.3s;
  background-color: #FFF;
  color: #000;
  box-shadow: 
  inset 0 0px 10px  #22FF05, 
  0 0px 10px  #22FF05; 
  filter: invert(1);
}






.navegacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;


}

.informacion{ 
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}




.container_main{
display: flex;
justify-content: space-between;
align-items: center;

}












@media (max-width: 1000px) {


.info_container{
  display: flex;
  flex-direction: column;

  align-items: center;
}



  .info{
    font-size: 30px;
    margin: 0px 30px;
  }


.name{
  font-size: 50px;
margin: 0px 20px;}

.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
 
}

.descarga_cv{
  margin: 30px 0px;
}

.container_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  }

.img{
  width: 200px;
  height: 200px;

}

.background_title{
  font-size: 100px;
}


.img {
  margin: 0;
  margin-top: 70px;
}


.descarga_cv{
width: 200px;
height: 50px;
}

.icon{

  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px 0;
}




}






.flecha {
  position: absolute;
  bottom: 20px;
  left: 50%;

  cursor: pointer;
  filter: invert(1);
}

.flecha img {
  width: 40px;
  height: auto;
  animation: bounce 1.5s infinite;
}









@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}










#About {
display: flex;
flex-direction: column;
align-items: center;
 height: 100vh;
 background: #222; 
 justify-content: center;
 }

.about_title{
  font-size: 50px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(90deg, #d613e7, #8b51f5); /* Gradiente */
  -webkit-background-clip: text; /* Clip para fondo del texto */
  -webkit-text-fill-color: transparent; /* Fondo del texto transparente */
}

.divider {
  width: 2px; /* Grosor de la línea */
  background: #ccc; /* Color de la línea */
  height: 70%; /* Altura completa del contenedor */
}



.about_container{

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 40px;

  
}

.about_text{
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: 80px;
  font-weight: 600;
  text-align: left;
  line-height: 25px;
}


@media screen and (max-width: 900px) {
  .about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
  }

  .about_text {
    margin: 20px 0; /* Reduce el margen para que quede más compacto */
    text-align: left; /* Opcional, para centrar el texto */
  }


  .divider {
    display: none; /* Oculta la línea en pantallas pequeñas */
  }


}




























#Skills { display: flex;
 justify-content: center;
 align-items: center;
 height: 70vh;
 background: linear-gradient(180deg, #000, #000, #000, #000, #000 ); 
 }

#Proyects { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(102, 102, 102);
 }

#Contact { display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgb(119, 119, 119);
 }


